.hand-container {
  position: fixed;
  margin-left: 3vw;
  width: 50vw;
  bottom: -70%;
  transition: bottom 0.5s ease, transform 0.5s ease;
}

.hover-area {
  width: 30vw;
  height: 18vw;
  position: absolute;
  bottom: -10%;
  left: 15%;
  z-index: 20;
  cursor: pointer;
}

.hand-container.raised {
  bottom: -45%;
}

.cards {
  position: absolute;
  bottom: 75%;
  margin-left: 32vw;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  width: 30vw;
  height: auto;
  transition: scale3d 3s ease;
  z-index: 2;
}

.card {
  position: absolute;
  width: 15vw;
  height: auto;
  transform-origin: bottom center;
  transition: transform 0.25s ease, z-index 1.5s ease, scale3d 3s ease;
  cursor: pointer;
  perspective: 2000px; /* Enable perspective */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3), 0 6px 20px rgba(0, 0, 0, 0.19); /* Add shadowy border */
  z-index: 2;
  transform-style: preserve-3d;
  border-radius: 15px;
}

.card.glow {
  z-index: 7;
  pointer-events: none;
  background-image: radial-gradient(circle at center, #ffffff22, #0000000f);
  opacity: 1;
}

.card-background {
  position: fixed;
  bottom: -10vw;
  left: 93%;
  width: 20vw;
  height: 25vw;
  background: linear-gradient(45deg, #ff9a9e, #fad0c4);
  z-index: 4; /* Ensure it is behind the card content */
  pointer-events: none; /* Prevent it from blocking mouse events */
  opacity: 0; /* Set default opacity to 0 */
  border-radius: 25px;
  transition: opacity 1.25s ease;
  filter: blur(2px); /* Add blur to create shadow effect */
}

.card-shadow{
  position: fixed;
  bottom: -7vw;
  left: 102%;
  width: 15vw;
  height: 20vw;
  background: black;
  z-index: 4; /* Ensure it is behind the card content */
  pointer-events: none; /* Prevent it from blocking mouse events */
  opacity: 0; /* Set default opacity to 0 */
  border-radius: 25px;
  transition: opacity 1.25s ease;
  filter: blur(10px); /* Add blur to create shadow effect */
}

.hand {
  position: relative;
  width: 100%;
  height: auto;
  z-index: 1;
}

.thumb {
  position: absolute;
  width: 88vh;
  height: auto;
  z-index: 3;
  bottom: -87vh;
  left: 18%;
  pointer-events: none;
  transform: translateX(-50%);
}

.overlay-bottom {
  position: fixed;
  top: 10%;
  margin-left: 30vw;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: opacity 0.8s ease;
}

.overlay-top{
  position: fixed;
  bottom: 10%;
  margin-left: 30vw;
  width: 100vw;
  height: 200vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 4;
  opacity: 0;
  display: block;
  pointer-events: none;
  transition: opacity 0.8s ease;
}