.hand-container {
    position: fixed;
    left: 1%;
    width: 60em;
    margin-left: 3em;
    width: 60em;
    bottom: -75%;
    transition: bottom 0.5s ease;
  }
  
  .hover-area {
    width: 25vw;
    height: 30vw;
    position: absolute;
    bottom: -10%;
    left: 20%;
    z-index: 20;
    cursor: pointer;
  }
  
  .hover-area:hover + .hand-container {
    bottom: -35%;
  }
  
  .hand {
    position: relative;
    width: 100%;
    height: auto;
    z-index: 1;
  }
  
  .thumb {
    position: absolute;
    width: 100%;
    height: auto;
    z-index: 2;
    bottom: 3%;
    left: 46%;
    transform: translateX(-50%);
  }
  