:root {
    --dash-size: 5px;
    --theme-color: mediumseagreen;
    --fill-color: rgb(133, 101, 60);
    --lighten-theme-color: #8fdcb3; /* lighten(mediumseagreen, 20%) */
    --darken-theme-color: #2e8b57; /* darken(mediumseagreen, 20%) */
  }

.guestBook {
    background-image: url('../../public/images/background1.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 100vh;
    width: 100%;
}

.question-mark-wrapper {
    position: absolute;
    content: '';
    width: 10%;
    height: 30%;
    top: 40%;
    left: 6%;
    filter: blur(10px);
    opacity: 1;
}

.question-mark-wrapper:hover {
    filter: blur(0px);
    transition: filter 0.3s;
}

.question-mark-wrapper::before {
    position: absolute;
    content: '';
    transition: opacity 0.5s;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    background-image: radial-gradient(circle, #f0f0f0, #d0d0d0, #f0f0f0);
    opacity: .1;
    border-radius: 50%;
}

.question-mark-wrapper:hover::before {
    opacity: .2;
    transition: transform 0.3s, opacity 0.3s, filter 0.3s;
}

.question-mark {
    width: 90%;
    height: 100%;
    opacity: .8;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    transition: transform .5s,
}

.question-mark:hover {
    transform: scale(1.1);
    opacity: 1;
    filter: brightness(1.2);
    transition: transform 0.3s, opacity 0.3s, filter 0.3s;
}

.mw-khrom {
    width: 58%;
    height: 73%;
    margin-top: 9%;
    margin-left: 18%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page-title {
    position: absolute;
    content: '';
    width: 25%;
    height: 11%;
    top: 7%;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;
}

.map-wrapper {
    position: relative;
    width: 90%;
    border: 2px solid red;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding: 7px;
    background: var(--lighten-theme-color);
    border: var(--dash-size) dashed var(--theme-color);
    box-shadow: 
      0 0 0 calc(var(--dash-size) / 2) var(--darken-theme-color),
      0 0 0 calc(var(--dash-size) * 2.5) #619668,
      inset 0 0 0 calc(var(--dash-size) / 2) var(--darken-theme-color),
      0 var(--dash-size) calc(var(--dash-size) * 2) calc(var(--dash-size) * 3) rgba(0, 0, 0, 0.5),
      inset 0 0 0 calc(var(--dash-size) * 1.2) #532b06,
      inset 0 0 100vw 100vw var(--fill-color);
    color: var(--theme-color);
    font-family: Marcellus, serif;
    font-size: 3em;
    text-shadow: 0 2px #fff;
    text-align: center;
    border-radius: 10px;
    }


.map-container {
    width: 96%;
    height: 95%;
    display: flex;
    border-radius: 10px;
    opacity: 1;

}

.map-container.pin-mode {
    cursor: crosshair;
}

.pin-menu-wrapper {
    padding: 10px;
    position: absolute;
    width: 20%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:linear-gradient(rgba(228, 192, 146, 0.904), rgb(233, 223, 193));
    top: 28%;
    left: 77%;
    border-radius: 10px;
}

.pin-menu {
    position: absolute;
    width: 96%;
    height: 96%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    background-color: rgba(59, 38, 13, 0.733);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message-inputz {
    border: 0 solid #ccc;
    margin-top: 2%;
    margin-bottom: 2%;
    font-size: 1.25rem;
    color: rgb(54, 36, 20);
    text-align: left;
    padding: 5px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2;
    background-image:linear-gradient(rgba(228, 192, 146, 0.904), rgb(233, 223, 193));
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    width: 90%;
    height: 60%;
    max-height: 200px;
    z-index: 2;
    box-sizing: border-box;
    outline: none;
}

.map-button {
    margin: 2%;
    width: 95%;
    z-index: 8;
    appearance: button;
    background-image: linear-gradient(to bottom, #fff, #f8eedb);
    border: 0 solid #e5e7eb;
    border-radius: .5rem;
    box-sizing: border-box;
    color: #482307;
    cursor: pointer;
    display: flex;
    font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    font-size: 1rem;
    font-weight: 700;
    line-height: 24px;
    padding: 1rem 1.5rem;
    text-transform: none;
    transition: all .1s cubic-bezier(.4, 0, .2, 1);
    touch-action: manipulation;
    box-shadow: -6px 8px 10px rgba(81,41,10,0.1),0px 2px 2px rgba(81,41,10,0.2);
    border: 2px solid transparent;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.map-button:first-of-type {
    margin-top: 15px;
  }

.map-button:last-of-type {
    margin-bottom: 15px;
  }

.map-button:active {
  background-color: #f3f4f6;
  box-shadow: -1px 2px 5px rgba(81,41,10,0.15),0px 1px 1px rgba(81,41,10,0.15);
  transform: translateY(0.125rem);
}

.map-button:focus {
  box-shadow: rgba(72, 35, 7, .46) 0 0 0 4px, -6px 8px 10px rgba(81,41,10,0.1), 0px 2px 2px rgba(81,41,10,0.2);
}

@media (min-width: 1920px) {
    .pin-menu-wrapper {
        width: 17%; 
        height: 40%;
        left: 78%;
        top: 32%;
    }

    .message-inputz {
        font-size: 1.5rem; /* Increase font size for larger screens */
        padding: 1rem; /* Increase padding for larger screens */
    }

    .map-button {
        font-size: 1.25rem; /* Increase font size for larger screens */
        padding: 1rem 1.5rem; /* Increase padding for larger screens */
    }
}